<form method = "post" action = "/movies/edit/<%=@user.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
      <%Movie.all.each do |movie|%>
    <div><input type="checkbox" name="movie_ids[]" id="<%=movie.id%>" value="<%=movie.id%>" <%='checked' if @user.movies.include?(movie) %> ><%=movie.name%></input><div>
      <%end%>
      <input type = "submit">
</form>
